html
  head
    tittle Documento Basico
  body
    h1 Documento Basico
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam illum deleniti corporis, iste ipsa sit vero. Alias corporis, illum et pariatur accusantium, maxime natus tenetur officia, consectetur deserunt similique rem.