doctype
head
  meta(charset="UTF-8")
  title Lista No Ordenada
body
  ul
    li Amarillo
    li Azul
    li Rojo
    li Blanco
    li Verde
 ul
   li GTA V
   li Mafia 3
   li Scarface
   li El padrino 2
   li Metal Gear Solid: V
 li Liga Inglesa
   ul
     li Manchester City
     li Manchester United
     li Chelsea
 li EA GAMES
   ul
     li FIFA 16
     li The Sims 4
     li Battlefield 4
     li Crysis 3
     li Dragon Age 2
 li UBISOFT GAMES
   ul
     li Splinter Cell
     li Watch Dogs
     li Far Cry: Primal
     li Assasins Creed
     li The Crew
  li RockStar Games
    ol
      li GTA V
      li Red Read Redemption
      li Max Payne 3
      li L.A noire