doctype
html(lang="en")
head
  meta(charset="UTF-8")
  title Document
body
  table(border=1)
    tr
      th Nombre Completo
      th Telefono
      th Dirección
    tr
      td Maicol Stiven
      td 8788888
      td Calle 11 #7A - 32
    tr
     td Lina Maria
      td 8741265
      td Calle 1 #5A - 10
    tr
       td Susana Garzon
       td 8784592
       td Calle 24 #5A - 24