body
	font 16px Arial
section
	background-color #00F0FF
	height 250px
	margin 10px auto
	width 250px
section h2
	color #777
	font-size 0.8em
	text-align center
	line-height 16em
.borde1
	border-radius 50%
.borde2
	border-radius 50% 50% 0% 0%
.borde3
	border-radius 0% 0% 50% 50%
.borde4
	border-radius 50% 0%
.borde5
	border-radius 0% 50%
.borde6
	border-radius 50% 0% 0% 50%
.borde7
	border-radius 0% 50% 50% 0%
.borde8
	border-radius 20%