
section
  background-color #ff0
  width 10px
  height 10px
  margin 15px auto
  box-shadow 0px 0px 0px 20px #ff0,
             50px 0px 0px 20px #ff0,
             100px 0px 0px 20px #ff0,
             150px 0px 0px 20px #ff0,
             200px 0px 0px 20px #ff0,
             250px 0px 0px 20px #ff0,
             
             0px 50px 0px 20px #ff0,
             50px 50px 0px 20px #ff0,
             100px 50px 0px 20px #ccc,
             150px 50px 0px 20px #ccc,
             200px 50px 0px 20px #ff0,
             250px 50px 0px 20px #ff0,
             300px 50px 0px 20px #ff0,
             -50px 50px 0px 20px #ff0,
             
             0px 100px 0px 20px #ff0,
             50px 100px 0px 20px #ccc,
             100px 100px 0px 20px #fff,
             150px 100px 0px 20px #fff,
             200px 100px 0px 20px #ccc,
             250px 100px 0px 20px #ff0,
             300px 100px 0px 20px #ff0,
             -50px 100px 0px 20px #ff0,
             -100px 100px 0px 20px #ff0,
             350px 100px 0px 20px #ff0,
             
             0px 150px 0px 20px #ccc,
             50px 150px 0px 20px #fff,
             100px 150px 0px 20px #000,
             150px 150px 0px 20px #000,
             200px 150px 0px 20px #fff,
             250px 150px 0px 20px #ccc,
             300px 150px 0px 20px #000,
             -50px 150px 0px 20px #000,
             -100px 150px 0px 20px #000,
             350px 150px 0px 20px #000,
             
             0px 200px 0px 20px #ccc,
             50px 200px 0px 20px #fff,
             100px 200px 0px 20px #000,
             150px 200px 0px 20px #000,
             200px 200px 0px 20px #fff,
             250px 200px 0px 20px #ccc,
             300px 200px 0px 20px #000,
             -50px 200px 0px 20px #000,
             -100px 200px 0px 20px #000,
             350px 200px 0px 20px #000,
             
             0px 250px 0px 20px #ff0,
             50px 250px 0px 20px #ccc,
             100px 250px 0px 20px #fff,
             150px 250px 0px 20px #fff,
             200px 250px 0px 20px #ccc,
             250px 250px 0px 20px #ff0,
             300px 250px 0px 20px #ff0,
             -50px 250px 0px 20px #ff0,
             -100px 250px 0px 20px #ff0,
             350px 250px 0px 20px #ff0,
             
             0px 300px 0px 20px #ff0,
             50px 300px 0px 20px #ff0,
             100px 300px 0px 20px #ccc,
             150px 300px 0px 20px #ccc,
             200px 300px 0px 20px #ff0,
             250px 300px 0px 20px #ff0,
             300px 300px 0px 20px #ff0,
             -50px 300px 0px 20px #ff0,
             -100px 300px 0px 20px #ff0,
             350px 300px 0px 20px #ff0,
             
             0px 350px 0px 20px #000,
             50px 350px 0px 20px #ff0,
             100px 350px 0px 20px #ff0,
             150px 350px 0px 20px #ff0,
             200px 350px 0px 20px #ff0,
             250px 350px 0px 20px #000,
             300px 350px 0px 20px #ff0,
             -50px 350px 0px 20px #ff0,
             -100px 350px 0px 20px #ff0,
             350px 350px 0px 20px #ff0