@import 'https://fonts.googleapis.com/css?family=Bungee+Inline|Josefin+Sans'

body
	background-color #aaa
section.principal
	background-color #fff
	border 2px solid #ccc
	padding 10px
	margin 40px auto 
	width 800px
h1
	color #999
	font-family 'Bungee Inline'
	font-size 2em
	text-align center
p 
	color #666
	font-family 'Josefin Sans'
	font-size 1.2em
	line-heigh 1.5em
	text-align justify