body
	text-align center
section
	background url(../imgs/card.png)
	height 435px
	width 300px
	transition all 1s
	margin 20px auto
section.trans1
	background url(../imgs/card.png)
	height 435px
	width 300px
	transition all 1s
section.trans1:hover
	-webkit-transform rotateY(180deg)
	transform rotateY(180deg)
section.trans2
	transition all 0.5s ease-in
section.trans2:hover
	-webkit-transform rotate(180deg) scale(0.2)
	transform rotate(180deg) scale(0.2)
section.trans3
	transition all 2s ease-in-out
section.trans3:hover
	-webkit-transform  scale(1.2)
	transform scale(1.2)