body
	font 16px Arial
nav
	margin 20px auto
	padding 20px
	width 900px
	border: 1px solid #2d7a80
	
	li
		background #2d7a80 url(../imgs/descarga.jpg) no-repeat center top
		background-size 60%
		color #fff
		height 200px
		padding 10px
		text-align center
		width 200px
		display inline-block
		transition all 1.5s ease-out
		
		span
			background-color rgba(0, 0, 0, .5)
			font-size 1.4em
			display block
			margin-top 154px
			padding 10px
			transition all 0.5s ease-in
	li:hover
		background-color #c22a47
		background-position  center bottom
	
	li:hover span
		transform translateY(-150px)