

section.animacion
	animation 0.5ms animAnimacion infinite
@keyframes animAnimacion
	from
		transform translateX(0px)
	to
		transform translateX(20px)
div.forma
	background-color #53a67d
	border-radius 50%
	margin 200px auto
	height 200px
	width 200px
	animation 0.5s animForma infinite ease-in-out alternate

@keyframes animForma
	from 
		transform translateY(0px)
	to 
		transform translateY(-160px)
	