section
	animation 0.5ms animAnimacion infinite
	background-color #0FFCE6
	border-radius 50%
	height 200px
	width 200px
	animation 2s animForma infinite ease-in-out 
@keyframes animForma
	0% 
		transform translate(0px, 0px)
	25%
		transform translate(1000px, 0px)
	50%
		transform translate(1000px, 500px)
	75%
		transform translate(0px, 500px)