
*
	transition all 3s

body
	background-color #999
	font 16px Arial
	color #444
article
	background-color #ddd
	line-height 1.6em
	margin 20px auto
	text-align justify
	padding 2em
	width 80%
	
	h1
		font-size 3em
	h1
	h2
		color #333
	h2
		display none
		font-style italic
@media (max-width: 1280px)
	h2.res
		display none
	h2.res1
		display block
@media (max-width: 768px)
	h2.res
		display none
	h2.res2
		display block
	article
		background-color #ccff86
		color #408000
@media (max-width: 480px)
	h2.res
		display none
	h2.res3
		display block
	article
		background-color #66ffff
		color #008080
