*
	transition all 0.5s ease-in-out
body
	background-color #123771
	color #fff
	text-align center
figure.logo
	background  url(../imgs/pepsi01.png) no-repeat center center
	height 354px
	margin 0px auto
	width 919px
@media (max-width: 800px)
	figure.logo
		background  url(../imgs/pepsi02.png) no-repeat center center
		height 370px
		width 480px
@media (max-width: 520px)
	figure.logo
		background  url(../imgs/pepsi03.png) no-repeat center center
		height 156px
		width 162px
		
	