doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title Documento HTML5
  body
    h1 Documento HTML 5
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab quam error ducimus veritatis ea placeat tenetur, alias explicabo reprehenderit eligendi odit vitae minima veniam at dicta ut quis ipsum repellendus eveniet repudiandae, eum laborum id ex nemo expedita. Ipsam eveniet quas totam, a, cumque placeat, omnis accusantium, autem amet esse vel. Odio pariatur eveniet at repudiandae earum iure minus officia, corrupti saepe, praesentium aliquid ratione. Libero esse laborum quia dicta fugiat molestiae illo consequatur obcaecati amet quis, nam iure eius nulla et officiis quasi, odit sunt veritatis possimus minus! Ut sapiente totam aut porro voluptates eveniet recusandae quasi. Repellendus, tempora!