doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title Tipos de entradas (Formulario) 
  body
    h1 Tipos de entradas(Formulario)
    hr
    form(method='post')
      //Color ---------------------------
      label(for='color') Color
      input(type='color', id='color')
      br
      br    
      //date ----------------------------
      label(for='date') Fecha
      input(type='date', id='date')
      br
      br
      //email
      label(for='email') Email
      input(type='email', id='email')
      br
      br
      //month
      label(for='month') Mes
      input(type='month', id='month')
      br
      br
      //number
      label(for='number') Numero
      input(type='number', id='number')
      br
      br     
      //range
      label(for='range') Rango
      input(type='range', id='range')
      br
      br
      //search
      label(for='search') Search
      input(type='search', id='search')
      br
      br
      //time
      label(for='time') Tiempo
      input(type='time', id='time')
      br
      br
      //url
      label(for='url') URL
      input(type='url', id='url')
      br
      br
      //week 
      label(for='week') Semana
      input(type='week', id='week')
      br
      br