doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title Estructura (Semantica)
    style(rel='stylesheet').
      body {
        background-color:white;
        font: 16px tahoma;
        color: orange;
        background-image:url('http://2.bp.blogspot.com/-XFgApAT0YXY/VZh7JT8VG3I/AAAAAAAAFno/VkGoVN-3tgc/s1600/dasf%2B%25282%2529.png');     
        margin: 0px auto;
        padding:80px;
        width: 400px;        
      } 
      main {
        background-color: rgba(0,0,0, 0.5);
        margin: 0px auto;
        padding: 20px;
        width: 800px;
      }
      
      a {
      color: blue;
      display: block;
      height: 30px;
      font-size:20px;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 2px;
      width: 100%;      
      }
     
      header figure{
        text-align: center;
      }
      nav li {
        background-color: green;
        color: white;
        display: inline-block;
        list-style: none;
        padding: 11px;
        text-align: center;
        width: 156px;
        transition: all 0.1s ease-in;
        }
  body
    main
      header
        figure
        nav
          li: a(href='') Inicio
          li: a(href='') Compra
          li: a(href='') Venta
          li: a(href='') Contacto
        section
          article
            h1       Minecraft
            figure
              img(src='')
            p   
            p             
          aside
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br                   
            br
            p Desea Comprar el juego?
            p Llene los siguientes formularios:
            label(for="") Nombre
            input(type='', id="" placeholder='Ejemplo: Maicol Mancera')
            br
            br
            label(for="email") Email:
            input(type="email", id='email' placeholder='correo electronico')
            br
            label(for="") Lugar de residencia
            input(type="", id="" placeholder="CRA, #, EJEMPLO")
            br            
           article
           h1
           p
        footer
          p