/* Selector Universal */
* {
  font: 1em Arial;
}
/*Selector de Tipo o Etiqueta*/
section {
  background: #1df0b0;
  margin: 20px auto;
  padding: 20px;
  width: 600px;
}
/* Selector Descendiente*/
section article h2 {
  font-size: 1.4em;
}
section article p {
  text-align: justify;
}
/*Selector Clase*/
.claro {
  background: #1df075;
}
.oscuro {
  background: #1df075;
}
.rojo {
  color: #f00;
}
.blanco {
  color: #fff;
}
.minuscula {
  text-transform: lowercase;
}
.mayuscula {
  text-transform: uppercase;
}
#parr1 {
  padding: 10px;
}
#parr2 {
  color: #661df0;
}
/*Selector Combinado*/
section article h2.rojo {
  font-weight: bold;
}
section article p#parr1 {
  color: #f00;
}
