/* Unidades de Medida Porcentuales */
#box {
  background-color: #ffa500;
  padding: 4px;
  width: 100%;
}
div {
  background-color: #ffa500;
  display: inline-block;
  height: 400px;
  font-size: 3em;
  text-align: center;
}
.box1 {
  width: 50%;
}
.box2 {
  width: 30%;
}
.box3 {
  width: 10%;
}
