section {
  background-color: #7d2c65;
  border: 4px dotted #7312cc;
  height: 600px;
  width: 800px;
}
section div.box {
  background-color: #e412f7;
  height: 100px;
  width: 200px;
/*Margenes: Forma Larga*/
  margin-top: 100px;
  margin-right: 150px;
  margin-bottom: 200px;
  margin-left: 250px;
/*Margenes: Forma Corta*/
  margin: 100px 130px 200px 250px;
}
