div {
  width: 250px;
  height: 250px;
}
div#box1 {
  background-color: #08f;
}
/*Imagen de fondo*/
div#box2 {
  background-image: url("../imgs/golden.jpg");
}
/*Repeticion imagen de fondo*/
div#box3 {
  background-image: url("../imgs/golden2.jpg");
}
div.box {
  display: inline-block;
  background-color: #f00;
  margin-left: 40px;
  border: 2px solid #000;
  background-image: url("../imgs/golden2.jpg");
}
div.box span {
  background-color: #000;
  display: block;
  padding: 10px;
  color: #fff;
}
div#box3-1 {
  background-repeat: repeat;
}
div#box3-2 {
  background-repeat: no-repeat;
}
div#box3-3 {
  background-repeat: repeat-x;
}
div#box3-4 {
  background-repeat: repeat-y;
}
