section.displaynone {
  margin: 10px auto;
  border: 2px solid #ffa500;
  display: inline-block;
  padding: 5px;
  width: 350px;
  margin-right: 100px;
}
section div {
  border: 2px solid #ffa500;
  background-color: rgba(100,60,150,0.5);
  line-height: 80px;
  height: 80px;
  font-size: 30px;
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 10px;
  width: 80px;
}
section div.seis {
  display: none;
}
section div.cinco {
  visibility: hidden;
}
section.onee {
  display: inline-block;
}
main.hola {
  margin-left: 200px;
}
p {
  text-align: center;
}
main.tipos div,
main.tipos a {
  border: 2px solid #ffa500;
  padding: 10px;
  margin-bottom: 20px;
}
main.tipos div.linea {
  display: inline;
}
main.tipos a.bloque {
  display: block;
}
