body {
  font: 1.2em Arial;
}
p {
  border: 10px solid #c0c0c0;
  padding: 20px;
  margin: 10px auto;
  width: 800px;
}
p.minuscula {
  text-transform: lowercase;
}
p.mayuscula {
  text-transform: uppercase;
}
p.capitalizar {
  text-transform: capitalize;
}
