body {
  background-color: #601515;
  color: #601515;
  font: 16px Arial;
}
section {
  border: 10px solid #601515;
  background-color: #fff;
  height: 300px;
  margin: 40px auto;
  text-align: center;
  width: 400px;
}
section.pointer {
  cursor: pointer;
}
section.move {
  cursor: move;
}
section.wait {
  cursor: wait;
}
section.help {
  cursor: help;
}
section.image {
  cursor: url("../imgs/cursor.png"), default;
}
h1 {
  color: #fff;
}
