body {
  background-color: #fff;
  font: 25px tahoma;
  color: #ff4500;
}

.marcoppal {
  background-color: #fff;
  margin: 20px auto;
  padding: 20px auto;
  width: 600px;
}

.encabezado a {
  background-color: #eee;
  color: orange;
  padding: 20px 36px;
  margin-left: 10px;
  text-decoration: none;
  transition: all 0.5s ease-in;
}

.encabezado a:hover {
  background-color: orange;
  color: red;
}

.contenido img {
  transition: all 0.5s ease in-out;
}

.contenido:hover img {
  transform: scale(1.2);
}

.contenido p {
  color: #000;
  text-align: justify;
  padding: 20px;
  line-height: 24px;
}

.contenido: hover {
  background-color: #eee;
}
.contenido {
  text-align: center;
 }
.pie {
  text-aling: center;
}