doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title servicios-rutas relativas
    link(href="estilos.css")
  body
     .marcoppal
     .encabezado
        a(href="../index.html") Inicio
        a(href="nosotros.html") Nosotros
        a(href="javascript:;") Servicios
        a(href="contacto.html") Contacto
      .contenido
        h1 Bienvenidos a mi sitio Web
        //- img(src="imagenes/index.png)
        img(src="imagenes/servicios.png")
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti tempore eos ad commodi autem ex libero totam rem quisquam doloribus amet corporis quo quod aliquam quia harum consectetur earum eaque sapiente, deserunt id nemo laudantium. Eligendi tempora quaerat voluptatem ducimus magni culpa et laborum earum nemo nihil nam necessitatibus quis explicabo aliquid sint nisi fugiat, ullam expedita architecto, non id sunt distinctio quas atque! Unde tempore, eveniet dolorem voluptatibus ullam molestiae aperiam? Consectetur possimus distinctio facilis maiores sapiente porro, quia in eveniet provident earum quod ratione accusamus voluptatibus placeat! Hic fuga atque impedit veritatis optio eveniet distinctio eligendi facere, minus.
      .pie
        p Todos los derechos reversados 2016