doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title Document
  body
    | Los textos sin formatos pueden incluir <strong>html</strong>
    p
     | Siempre deben estar en su misma linea 
    p Esta es la segunda forma de hacerlo
    script.
    if (usingJade)
      console.log('Tu eres increible')
    else
      console.log('Usando Jade')