doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title Document
  body
    ul
      li Escena 1
      li Escena 2
      li Escena 2
      br
      br
      ol Empezamos escena 1
      li Comprueben audio y calidad de las camaras
      li Estando todo listo empezamos en 3,2,1  
    foo/
    foo(bar='baz')/