body {
  font: 16px Arial;
}
section {
  background-color: #a5e8d1;
  width: 250px;
  margin: 40px auto;
  width: 400px;
}
section h2 {
  color: #5a7f73;
  font-size: 1em;
  text-align: center;
  line-height: 16em;
}
.sombra1 {
  box-shadow: 0px 0px 20px #000;
}
.sombra2 {
  box-shadow: 10px 10px 20px #000;
}
.sombra3 {
  box-shadow: -10px 0px 10px #000;
}
.sombra4 {
  box-shadow: 0px 0px 20px #000 inset;
}
section.sombra5 {
  background-color: #ffee32;
  width: 20px;
  margin: 280px auto 80px auto;
  height: 20px;
}
.sombra5 {
  box-shadow: -80px 0px 0px 20px #e51e24, -30px 0px 0px 20px #ffee32, 20px 0px 0px 20px #ffee32, 80px 0px 0px 20px #ffee32, 140px 0px 0px 20px #e51e24, -80px -60px 0px 20px #ffee32, -30px -60px 0px 20px #ffee32, 20px -60px 0px 20px #000, 80px -60px 0px 20px #ffee32, 140px -60px 0px 20px #ffee32, -80px -120px 0px 20px #ffee32, -30px -120px 0px 20px #000, 20px -120px 0px 20px #ffee32, 80px -120px 0px 20px #000, 140px -120px 0px 20px #ffee32, -80px -180px 0px 20px #ffee32, -30px -180px 0px 20px #ffee32, 20px -180px 0px 20px #ffee32, 80px -180px 0px 20px #ffee32, 140px -180px 0px 20px #ffee32, -80px -240px 0px 20px #000, -30px -240px 0px 20px #fff, 20px -240px 0px 20px #fff, 80px -240px 0px 20px #fff, 140px -240px 0px 20px #000;
}
