section {
  border: 100px solid transparent;
  width: 400px;
  height: 200px;
  background-color: #ccc;
  margin: 20px auto;
  padding: 50px;
}
section.box1 {
  background: url("../imgs/perro.jpg") no-repeat;
  background-clip: border-box;
  padding: 25px;
  background-color: #ccc;
}
section.box2 {
  background: url("../imgs/perro.jpg") no-repeat;
  background-clip: padding-box;
  padding: 25px;
  background-color: #ccc;
}
section.box3 {
  background: url("../imgs/perro.jpg") no-repeat;
  background-clip: content-box;
  padding: 25px;
  background-color: #ccc;
}
