section {
  border: 4px solid #666;
  height: 200px;
  margin: 10px auto;
  width: 600px;
}
section h2 {
  color: #333;
}
section.degradado1 {
  background: -webkit-linear-gradient(left, #f00, #ff0);
}
section.degradado2 {
  background: -webkit-linear-gradient(right, #f0f, #0ff);
}
section.degradado3 {
  background: -webkit-linear-gradient(top, #fff, #000);
}
section.degradado4 {
  background: -webkit-linear-gradient(bottom, #0f0, #ff0);
}
section.degradado5 {
  background: -webkit-linear-gradient(#ff0, #00f, #f00);
}
section.degradado6 {
  background: -webkit-linear-gradient(#ff0 0%, #ff0 40%, #207cca 40%, #00f 70%, #00f 70%, #f00 70%, #f00 100%);
}
section.degradado7 {
  background: -webkit-linear-gradient(45deg, #df4085, #57ff6d);
}
section.degradado8 {
  background: -webkit-linear-gradient(left top, #dfbb27, #1131ff);
}
