section {
  background-color: #be2b3a;
  color: #fff;
  font-family: Arial;
  height: 150px;
  text-align: center;
  width: 300px;
}
section.caja1 {
  -webkit-transform: translate(100px, 100px);
  transform: translate(100px, 100px);
}
section.caja2 {
  -webkit-transform: translateX(500px);
  transform: translateX(500px);
}
section.caja3 {
  -webkit-transform: translateY(100px);
  transform: translateY(100px);
}
