section {
  background-color: #f58609;
  color: #fff;
  font-family: Arial;
  line-height: 240px;
  height: 250px;
  text-align: center;
  width: 250px;
}
.caja1 {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.caja2 {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
