section {
  background-color: #0afa12;
  color: #fff;
  font-family: Arial;
  line-height: 240px;
  height: 250px;
  text-align: center;
  width: 250px;
  margin-bottom: 8em;
  margin-left: 20px;
}
.caja1 {
  -webkit-transform: skew(40deg);
  transform: skew(40deg);
}
.caja2 {
  -webkit-transform: skewX(-40deg);
  transform: skewX(-40deg);
}
.caja3 {
  -webkit-transform: skewY(40deg) 60;
  transform: skewY(40deg);
}
.caja4 {
  -webkit-transform: skew(-40deg, 20deg);
  transform: skew(-40deg, 20deg);
}
