section:before {
  content: ";)";
  color: #fff;
  font-size: 10em;
  transform: translateX(90deg);
}
section {
  background-color: #c22a47;
  height: 200px;
  margin: 20px auto;
  width: 300px;
  transition: width 2s, height 2s 2s, transform 2s 4s;
  margin-top: 6em;
}
section:hover {
  width: 600px;
  height: 400px;
  transform: rotate(180deg);
}
