

section
	background-color #B808A2
	height 250px
	width 400px
	margin 10px auto
/*Mezclador */
border-radius(n)
	-webkit-border-radius n
	-moz-border-radius n
	-ms-border-radius n
	border-radius n
border-multiple()
	-webkit-border-radius arguments
	-moz-border-radius    arguments
	-ms-border-radius     arguments
	border-radius         arguments

.caja1
	border-radius(10px)
.caja2
	border-radius 50px
.caja3
	border-radius 50%
.caja4
	border-multiple 10px 30px 60px 90px

	