color = #2f7f6f
alto  = 100.12px
ancho = 250.36px 
section
	height round(alto)
	margin 10px auto
	width ceil(ancho)
.cajilla1
	background-color lightness(color, 80%)
.cajilla2
	background-color lightness(color, 60%)
.cajilla3
	background-color lightness(color, 40%)
.cajilla4
	background-color complement(color)
.cajilla5
	background-color invert(color)
.cajilla6
	background-color saturate(color, 10%)
