color-rojo = #ff0
color-azul = #00f

section
	if color-rojo == #f00
		background-color color-rojo
	else
		background-color color-azul
	width 200px
	margin 50px auto
	height 200px

//if color-rojo == #f00