/*Selectores Hijos*/
article > p
  color gray
  font-family Arial
/**Selectores adyacentes*/
a + p  
  color crimson
/*Selector de Atributos*/
a[class=link]
   color crimson
   text-decoration overline
p + a 
  color gray