section
  margin 20px auto
  width: 500px
article
  text-align center
div
  background-color silver
  display inline-block
  height 100px
  margin 0px 0px -4px -4px
  width 100px
 div span  
.maroon
	background-color maroon
.red
	background-color red
.orange
	background-color orange
.yellow
	background-color yellow
.olive
	background-color olive
.purple
	background-color purple
.fuchsia
	background-color fuchsia
.white
	background-color white
.lime
	background-color lime
.green
	background-color green
.navy
	background-color navy
.blue
	background-color blue
.aqua
	background-color aqua
.teal
	background-color teal
.black
	color white
	background-color black
.silver
	background-color silver
.gray
	background-color gray
	