section
  margin 30px auto
  width: 500px
article
  text-align center
div
  display inline-block
  height 100px
  margin 0px 0px -4px -4px
  width 100px

.maroon
	background-color rgb(80,0,0)
.red
	background-color rgb(255,0,0)
.orange
	background-color rgb(250,85,94)
.yellow
	background-color rgb(255,255,255)
.olive
	background-color rgb(14,85,190)
.purple
	background-color rgb(0,0,0)
.fuchsia
	background-color rgb(0,0,0)
.white
	background-color rgb(255,255,255)
.lime
	background-color rgb(0,0,0)
.green
	background-color rgb(0,0,0)
.navy
	background-color rgb(0,0,0)
.blue
	background-color rgb(0,0,0)
.aqua
	background-color rgb(0,0,0)
.teal
	background-color rgb(0,0,0)
.black
	color white
	background-color rgb(0,0,0)
.silver
	background-color rgb(0,0,0)
.gray
	background-color rgb(255,55,45)