section
  margin 30px auto
  width: 500px
article
  text-align center
div
  display inline-block
  height 100px
  margin 0px 0px -4px -4px
  width 100px
  height 100px
.maroon
	background-color #800000
.red
	background-color #ff0000
.orange
	background-color #ffA500
.yellow
	background-color #ffff00
.olive
	background-color #808000
.purple
	background-color #800080
.fuchsia
	background-color #ff00ff
.white
	background-color #ffffff
.lime
	background-color #00ff00
.green
	background-color #008000
.navy
	background-color #000080
.blue
	background-color #0000ff
.aqua
	background-color #00ffff
.teal
	background-color #008080
.black
	color white
	background-color #000000
.silver
	background-color #c0c0c0
.gray
	background-color #808080