section
  margin 30px auto
  width: 500px
article
  text-align center
div
  display inline-block
  height 100px
  margin 0px 0px -4px -4px
  width 100px
  height 100px
.maroon
	background-color hsl(20, 100%, 20%)
.red
	background-color hsl(0,100%,50%)
.orange
	background-color hsl(20,100%,50%)
.yellow
	background-color hsl(50,100%,50%)
.olive
	background-color hsl(50,100%,20%)
.purple
	background-color hsl(322,80%,20%)
.fuchsia
	background-color hsl(322,100%,50%)
.white
	background-color hsl(100, 100%,100%)
.lime
	background-color hsl(120,100%,50%)
.green
	background-color hsl(120,80%,30%)
.navy
	background-color hsl(240,80%,20%)
.blue
	background-color hsl(240,100%,40%)
.aqua
	background-color hsl(180,90%,40%)
.teal
	background-color hsl(180,80%,20%)
.black
	color white
	background-color hsl(0,0%,0%)
.silver
	background-color hsl(0,0%,80%)
.gray
	background-color hsl(0,0%,40%)