body, html
	background -webkit-linear-gradient(top, rgb(0,0,0), rgb(255,255,255))
	color: rgba(255,255,255,0.5)
	height 100%
section
	margin 0px auto
	width 600px
article
	height 100px
	margin-bottom 100px
.rojo
	background -webkit-linear-gradient(left, rgba(255,0,0, 1), rgba(255,0,0, 0))
.verde	
	background -webkit-linear-gradient(left, rgba(0,255,0, 1), rgba(0,255,0, 0))
.azul
	background -webkit-linear-gradient(left, rgba(0,0,255, 1), rgba(0,0,255, 0))	
