div
	background-color #5711FA
	border 10px solid #00B7FF
	color #9c5529
	font 1.2em Arial
	margin-bottom 10px
	text-align center
div.box1
	height 250px
	width 250px
div.box2
	height 400px
	width 600px
div.box3
	height 500px
	width 250px
div.box4
	height 2cm
	width 50%
div.box5
	height 2cm
	width 50%		