body
	background-color #000000
	font 16px Tahoma
	color #FFFFFF
h2
	background-color #3E3E3E
	padding 20px
section
	background-color rgba(200,4,57, 0.5)
	height 500px
	padding 20px
section div
	display inline-block
	height 500px
	margin-left 4px
	width 400px
.fondocolor .fondo1
	background-color #E5FF00
.fondocolor .fondo2
	background-color #0012FF
.fondocolor .fondo3
	background-color #F00
.imagenfondo .fondo1
	background-image url(../imgs/hitman2.jpg)
.imagenfondo .fondo2
	background-image url(../imgs/hitman3.jpg) 
.imagenfondo .fondo3
	background-image url(../imgs/hitman.jpg)

.repetirfondo div
	background-color rgba(200,4,57, 0.5)
	background-image url(../imgs/porfin.jpg)
	color #6f324c
	width 298px
	margin-left 10px
.repetirfondo .fondo1
	background-repeat repeat
.repetirfondo .fondo2
	background-repeat no-repeat
.repetirfondo .fondo3
	background-repeat repeat-x
.repetirfondo .fondo4
	background-repeat repeat-y

.comportamientofondo div
	color #FFF
	background-image url(../imgs/hitman.jpg)
	overflow scroll
.comportamientofondo .fondo1
	background-attachment scroll
	
.posicionfondo 
	height 1600px
.posicionfondo div
	background-image url(../imgs/porfin.jpg)
	background-repeat no-repeat
.posicionfondo .fondo1
	background-position center left
.posicionfondo .fondo2
	background-position center center
.posicionfondo .fondo3
	background-position center right
.posicionfondo .fondo4
	background-position top left
.posicionfondo .fondo5
	background-position top center
.posicionfondo .fondo6
	background-position top right
.posicionfondo .fondo7
	background-position bottom left
.posicionfondo .fondo8
	background-position bottom center
.posicionfondo .fondo9
	background-position bottom right