body
	/*Shorthand: forma corta*/
	background #000 url(../imgs/fondo.png) center center
	background-attachment fixed /*scroll*/
	font 16px Arial
	color #fff
	line-height 20px
	padding 50px
	text-align justify
p 
	background-color rgba(0,0,0, .6)
	padding 40px