body
	font 16px Tahoma
section 
	border 2px solid red
	height 260px
	margin 20px auto
	padding 10px
	width 600px
section div
	display inline-block
	border 2px solid red
	line-height 120px
	height 120px
	margin-right 6px
	margin-bottom 10px
	text-align center
	width 170px
section div.nomargen
	margin-right 0px
	
section div.larga
	width 594px
	
section div.adelante
	position absolute
	left 750px
	top 210px
	background-color rgba(240,2,4, 0.5)