body
	background-color #333
	font 16px Arial
	color #fff
main
	padding 20px
	margin 20px auto
	width 760px
main p 
	line-height 26px
	text-align justify
nav
	background transparent url(../imgs/city.png) no-repeat center center
	border-bottom 40px solid #fff
	height 344px
	position fixed
	bottom 0
	left 0
	margin 0px auto
	width 100%