body
	font-familia Arial
	text-align center
	background-color rgba(90,48,50, 0.5)
p.normal
	font-style normal
	color #942BCC
p.italic
	font-style italic
	color rgba(90,48,50, 0.5)
p.oblique
	font-style oblique
	color #00F5FF
hr
	background-color gray
	border 2px solid