body
	background-color #00FAFF
	text-align center
section
	border 2px solid blue
	display inline-block
	width 250px
	height 200px
	padding 10px
section.left
	text-align left
section.right
	text-align right
section.center
	text-align center
section.justify
	text-align justify
hr
	border 2px solid blue
h5
	text-align center
p
	color red
h1
	color red