body
	background-color #00FAFF
	text-align center
	background-color black
section
	display inline-block
	background-color white
	vertical-align top
	width 250px
	padding 10px
section.padre
	background-color white
	height 300px
	width 870px
section.line
	line-height 1.2em
	border 2px solid 
section.uno
	line-height 1.5em
	border 2px solid 
section.dos
	line-height 2em
	border 2px solid 
hr
	border 2px solid 
	text-align center
p
	color red
h1
	color red