section
	border 2px solid gray
	width 400px
div
	display inline-block
img
	border-style dashed 
	color red
p.baseline
	vertical-align baseline
p.top
	vertical-align top
p.middle
	vertical-align middle