body
	background-color #00FF34
	color white
	font 16px Arial
section
	background-color #00FFB2 
	border 10px solid #00F5FF
	padding 20px
	margin 20px auto
	width 800px
/*Pseudo Clase para enlaces*/
nav a:link
	background-color #1CB9BF
	color #E6E6AF
	display inline-block
	padding 20px 1px
	text-align center
	width 190px
	text-decoration none
nav a:hover
	background-color #00FFF0
	border 4px solid #E6E6AF
	color #6f7f39
nav a:active
	background-color #1CB9BF
	border 4px solid #6D00FF
	color #fff
/*Pseudo Clase para elemento de formulario*/
::-webkit-input-placeholder
	color white
input 
	background-color #1CB9BF
	border none
	color #fff
	font-size 1.2em
	display block
	outline none
	padding 20px
	width 96%
input:focus
	background-color #00FFF0
/*Insertar Contenido Antes-Despues*/
div.box.after
div.box.before
	content '' 
	position absolute
div.box
	background-color #00FF34
	height 200px
	position relative
	top 0
	left 0
	width 200px
div.box::after
	background-color #0D0E0D
	height 100px
	top 0px
	left 100px
	width 100px
div.box::before
	background-color #0400A3
	height 100px
	width 100px
	top 100px
	left 0px
	width 100px
/*Primera Letra -Primera Linea*/
p::first-letter
	color red
	font-weight bolder
	font-size 4em
p::first-line
	color black