body
	background-color #e82231
	font 16px Arial
	padding 0px
	margin 0px
header
	background-color #fff
	padding 10px
	margin 0px
	height 100px
header figure.logo
	background #fff url(../imgs/sprite-web.png) no-repeat;
	background-position -272px -34px
	height 90px
	margin 0px
	width 244px
nav 
	position relative
	left 360px
	top -70px
	width 880px
nav li
	background-color #e82231
	border-bottom 4px solid rgba(0,0,0,0.2)
	color #fff
	display inline-block
	vertical-align top
	margin-left 12px 
	padding 20px 40px 
	text-align center
	width 120px
nav li:hover
	background-color #CB390E
	border-bottom 4px solid 
	cursor pointer 
section
	margin 20px auto
	padding 10px
	width 1024px
section aside
	display inline-block
	vertical-align top	
section aside.cleft
	width 640px
section aside.cleft article
	background-color #fff
	padding 10px
	margin-bottom 4px
section aside.cleft article h3
	border-bottom 2px solid #e82231
	color #e82231
	font-size 1.5em
section aside.cleft article p 
	text-align justify
section aside.cleft article p::first-letter
	color #e82231
	font-size 1.5em
section aside.cleft article figure.box
	background #fff url(../imgs/sprite-web.png) no-repeat
	background-position -24px -262px
	height 210px
	width 470px
section aside.cright
	width 360px
section aside.cright ul.years
	list-style none
	margin 0px
section aside.cright ul.years li
	background-color #fff
	padding 20px 
	margin-bottom 10px
	position relative
section aside.cright ul.years li span.icon
	display inline-block
	height 90px
	width 90px
	background #000 url(../imgs/sprite-web.png) no-repeat
	background-position -362px -140px
section aside.cright ul.years li em
	display inline-block
	position relative
	left 10px
	top -38px
footer 
	background-color #000
	color #fff
	padding 10px
	text-align center
footer figure.logodark
	background #000 url(../imgs/sprite-web.png) no-repeat
	background-position -24px -478px
	margin 10px auto
	width 470px
	height 110px

