body
	background-color #e82231
	font 16px Arial
	padding 0px
	margin 0px
header
	background-color #fff
	padding 10px
	margin 20px
	height 100px
header figure.logo
	background #fff url(../imgs/sprite-web.png) no-repeat;
	background-position -272px -34px
	height 90px
	margin 0px
	width 244px
nav 
	position relative
	left 360px
	top -70px
	width 880px
nav li
	background-color #e82231
	border-bottom 4px solid rgba(0,0,0,0.2)
	color #fff
	display inline-block
	vertical-align top
	margin-left 12px 
	padding 20px 40px 
	text-align center
	width 120px
nav li:hover
	background-color #CB390E
	border-bottom 4px solid 
	cursor pointer 
	
