body
	font 14px Arial
	text-align center
	background-image url(../imgs/prueba.jpg)
	webkit-background-size cover
	moz-background-size cover
	o-background-size cover
	background-size cover
hr
	background-color blue
	height 1px
nav div 
	border 2px solid blue
	height 20px
	width 120px
	display inline-block
	margin 0px auto
	text-align center
	margin-left 30px
	background-color black
	color white
audio
	margin-bottom -35em
	background-color blue
section div
	border 2px solid #ccc
	display inline-block
p 
	color #00FFC0
p.er
	color #00FFC0
p.ar 
	color #00FFC0
p.ir
	color #00FFC0
p.or 
	color #00FFC0
p.ur 
	color #00FFC0
.e 
	color #00FFC0
	

	
	