section {
  background-color: #b808a2;
  height: 250px;
  width: 400px;
  margin: 10px auto;
}
/*Mezclador */
.caja1 {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}
.caja2 {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  border-radius: 50px;
}
.caja3 {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.caja4 {
  -webkit-border-radius: 10px 30px 60px 90px;
  -moz-border-radius: 10px 30px 60px 90px;
  -ms-border-radius: 10px 30px 60px 90px;
  -webkit-border-radius: 10px 30px 60px 90px;
  -moz-border-radius: 10px 30px 60px 90px;
  -ms-border-radius: 10px 30px 60px 90px;
  border-radius: 10px 30px 60px 90px;
}
